# Patches Data Status
- Last updated: Mon Oct  6 12:38:03 UTC 2025
- Timestamp: 1759754283
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 701705 bytes
- Workflow run: Fetch and Update Patches Data #8743
- Patches changed: true
- New patches detected: 0
