# Patches Data Status
- Last updated: Thu Sep 25 21:08:33 UTC 2025
- Timestamp: 1758834513
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 700933 bytes
- Workflow run: Fetch and Update Patches Data #8266
- Patches changed: true
