# Patches Data Status
- Last updated: Mon Mar 23 18:37:18 UTC 2026
- Timestamp: 1774291038
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 751830 bytes
- Workflow run: Fetch and Update Patches Data #15160
- Patches changed: true
- New patches detected: 1
