# Patches Data Status
- Last updated: Wed Oct 22 21:08:53 UTC 2025
- Timestamp: 1761167333
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 709464 bytes
- Workflow run: Fetch and Update Patches Data #9479
- Patches changed: true
- New patches detected: 1
