# Patches Data Status
- Last updated: Tue May 26 17:18:08 UTC 2026
- Timestamp: 1779815888
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 774493 bytes
- Workflow run: Fetch and Update Patches Data #16303
- Patches changed: true
- New patches detected: 2
