# Patches Data Status
- Last updated: Mon May 11 17:06:38 UTC 2026
- Timestamp: 1778519198
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 772471 bytes
- Workflow run: Fetch and Update Patches Data #16124
- Patches changed: true
- New patches detected: 1
