# Patches Data Status
- Last updated: Tue Oct  7 18:45:38 UTC 2025
- Timestamp: 1759862738
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 706003 bytes
- Workflow run: Fetch and Update Patches Data #8810
- Patches changed: true
- New patches detected: 1
