# Patches Data Status
- Last updated: Tue Apr 21 17:31:16 UTC 2026
- Timestamp: 1776792676
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 771000 bytes
- Workflow run: Fetch and Update Patches Data #15811
- Patches changed: true
- New patches detected: 1
