# Patches Data Status
- Last updated: Mon May  4 17:08:33 UTC 2026
- Timestamp: 1777914513
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 771021 bytes
- Workflow run: Fetch and Update Patches Data #16024
- Patches changed: true
- New patches detected: 1
