# Patches Data Status
- Last updated: Thu Oct  2 18:13:25 UTC 2025
- Timestamp: 1759428805
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 702477 bytes
- Workflow run: Fetch and Update Patches Data #8567
- Patches changed: true
- New patches detected: 1
