# Patches Data Status
- Last updated: Thu Oct 30 21:20:44 UTC 2025
- Timestamp: 1761859244
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 710162 bytes
- Workflow run: Fetch and Update Patches Data #9843
- Patches changed: true
- New patches detected: 1
