# Patches Data Status
- Last updated: Tue Mar 10 16:44:01 UTC 2026
- Timestamp: 1773161041
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 738925 bytes
- Workflow run: Fetch and Update Patches Data #14786
- Patches changed: true
- New patches detected: 1
