# Patches Data Status
- Last updated: Tue Oct 21 23:11:36 UTC 2025
- Timestamp: 1761088296
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 708730 bytes
- Workflow run: Fetch and Update Patches Data #9435
- Patches changed: true
- New patches detected: 1
