# Patches Data Status
- Last updated: Tue Oct 27 19:43:31 UTC 2026
- Timestamp: 1793130211
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 811731 bytes
- Workflow run: Fetch and Update Patches Data #18113
- Patches changed: true
- New patches detected: 1
