# Patches Data Status
- Last updated: Wed Oct 15 21:08:59 UTC 2025
- Timestamp: 1760562539
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 706383 bytes
- Workflow run: Fetch and Update Patches Data #9168
- Patches changed: true
- New patches detected: 1
