# Patches Data Status
- Last updated: Tue Jun  9 16:14:25 UTC 2026
- Timestamp: 1781021665
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 776086 bytes
- Workflow run: Fetch and Update Patches Data #16437
- Patches changed: true
- New patches detected: 1
