# Patches Data Status
- Last updated: Mon Jun  1 19:27:03 UTC 2026
- Timestamp: 1780342023
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 775506 bytes
- Workflow run: Fetch and Update Patches Data #16364
- Patches changed: true
- New patches detected: 1
