# Patches Data Status
- Last updated: Thu Apr 16 23:08:09 UTC 2026
- Timestamp: 1776380889
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 755824 bytes
- Workflow run: Fetch and Update Patches Data #15715
- Patches changed: true
- New patches detected: 1
