# Patches Data Status
- Last updated: Thu Oct 29 00:29:25 UTC 2026
- Timestamp: 1793233765
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 812511 bytes
- Workflow run: Fetch and Update Patches Data #18119
- Patches changed: true
- New patches detected: 1
