# Patches Data Status
- Last updated: Thu Oct 16 14:41:24 UTC 2025
- Timestamp: 1760625684
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 706003 bytes
- Workflow run: Fetch and Update Patches Data #9200
- Patches changed: true
- New patches detected: 0
