# Patches Data Status
- Last updated: Fri Oct 17 14:09:37 UTC 2025
- Timestamp: 1760710177
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 707410 bytes
- Workflow run: Fetch and Update Patches Data #9242
- Patches changed: true
- New patches detected: 0
