# Patches Data Status
- Last updated: Thu Oct 30 21:17:47 UTC 2025
- Timestamp: 1761859067
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 710162 bytes
- Workflow run: Fetch and Update Patches Data #9838
- Patches changed: true
- New patches detected: 1
