# Patches Data Status
- Last updated: Mon Dec  1 21:08:41 UTC 2025
- Timestamp: 1764623321
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 715263 bytes
- Workflow run: Fetch and Update Patches Data #11210
- Patches changed: true
- New patches detected: 1
