# Patches Data Status
- Last updated: Tue Oct 21 23:09:08 UTC 2025
- Timestamp: 1761088148
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 708730 bytes
- Workflow run: Fetch and Update Patches Data #9432
- Patches changed: true
- New patches detected: 1
