# Patches Data Status
- Last updated: Mon Oct  6 18:14:12 UTC 2025
- Timestamp: 1759774452
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 701815 bytes
- Workflow run: Fetch and Update Patches Data #8758
- Patches changed: true
- New patches detected: 0
