# Patches Data Status
- Last updated: Tue Oct 21 23:09:59 UTC 2025
- Timestamp: 1761088199
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 708730 bytes
- Workflow run: Fetch and Update Patches Data #9433
- Patches changed: true
- New patches detected: 1
