# Patches Data Status
- Last updated: Thu Jul 23 20:06:49 UTC 2026
- Timestamp: 1784837209
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 786735 bytes
- Workflow run: Fetch and Update Patches Data #16944
- Patches changed: true
- New patches detected: 0
