# Patches Data Status
- Last updated: Mon Apr 13 17:53:19 UTC 2026
- Timestamp: 1776102799
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 754814 bytes
- Workflow run: Fetch and Update Patches Data #15660
- Patches changed: true
- New patches detected: 1
