# Patches Data Status
- Last updated: Wed Oct  8 21:40:56 UTC 2025
- Timestamp: 1759959656
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 706383 bytes
- Workflow run: Fetch and Update Patches Data #8863
- Patches changed: true
- New patches detected: 1
