# Patches Data Status
- Last updated: Thu Mar 19 21:51:37 UTC 2026
- Timestamp: 1773957097
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 748338 bytes
- Workflow run: Fetch and Update Patches Data #15037
- Patches changed: true
- New patches detected: 1
