# Patches Data Status
- Last updated: Fri Oct 30 02:43:42 UTC 2026
- Timestamp: 1793328222
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 812644 bytes
- Workflow run: Fetch and Update Patches Data #18124
- Patches changed: true
- New patches detected: 1
