# Patches Data Status
- Last updated: Thu Oct  2 19:07:40 UTC 2025
- Timestamp: 1759432060
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 701705 bytes
- Workflow run: Fetch and Update Patches Data #8569
- Patches changed: true
- New patches detected: 0
