# Patches Data Status
- Last updated: Thu Jul  9 19:18:15 UTC 2026
- Timestamp: 1783624695
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 789317 bytes
- Workflow run: Fetch and Update Patches Data #16740
- Patches changed: true
- New patches detected: 1
