# Patches Data Status
- Last updated: Mon Oct  6 12:46:35 UTC 2025
- Timestamp: 1759754795
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 701705 bytes
- Workflow run: Fetch and Update Patches Data #8744
- Patches changed: true
- New patches detected: 0
