# Patches Data Status
- Last updated: Thu Oct 29 23:25:44 UTC 2026
- Timestamp: 1793316344
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 812616 bytes
- Workflow run: Fetch and Update Patches Data #18123
- Patches changed: true
- New patches detected: 1
