# Patches Data Status
- Last updated: Fri Jan 23 23:11:46 UTC 2026
- Timestamp: 1769209906
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 729627 bytes
- Workflow run: Fetch and Update Patches Data #13399
- Patches changed: true
- New patches detected: 1
