# Patches Data Status
- Last updated: Mon Mar  9 15:45:05 UTC 2026
- Timestamp: 1773071105
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 737512 bytes
- Workflow run: Fetch and Update Patches Data #14758
- Patches changed: true
- New patches detected: 1
