# Patches Data Status
- Last updated: Tue Jul 21 18:06:56 UTC 2026
- Timestamp: 1784657216
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 790102 bytes
- Workflow run: Fetch and Update Patches Data #16916
- Patches changed: true
- New patches detected: 1
