# Patches Data Status
- Last updated: Fri Apr 17 03:48:17 UTC 2026
- Timestamp: 1776397697
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 756962 bytes
- Workflow run: Fetch and Update Patches Data #15717
- Patches changed: true
- New patches detected: 0
