# Patches Data Status
- Last updated: Wed Jun 10 17:39:58 UTC 2026
- Timestamp: 1781113198
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 776848 bytes
- Workflow run: Fetch and Update Patches Data #16446
- Patches changed: true
- New patches detected: 1
