# Patches Data Status
- Last updated: Thu Jun  4 18:06:29 UTC 2026
- Timestamp: 1780596389
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 775506 bytes
- Workflow run: Fetch and Update Patches Data #16384
- Patches changed: true
- New patches detected: 1
