# Patches Data Status
- Last updated: Thu Oct  2 22:26:12 UTC 2025
- Timestamp: 1759443972
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 701705 bytes
- Workflow run: Fetch and Update Patches Data #8578
- Patches changed: true
- New patches detected: 0
