# Patches Data Status
- Last updated: Mon Apr 20 19:52:53 UTC 2026
- Timestamp: 1776714773
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 759250 bytes
- Workflow run: Fetch and Update Patches Data #15796
- Patches changed: true
- New patches detected: 1
